/* You can add global styles to this file, and also import other style files */
html{
    position: relative;
    min-height: 100%;
}
body{
    /*igual al footer*/
    margin-bottom: 60px; 
    min-height: 100%;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
.wrap{
    padding-bottom:60px ;
}


body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


